#root {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.canvas {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.chakra-card.info {
  position: absolute;
  right: 1vmin;
  bottom: 1vmin;
  padding: 5px;
  width: 60vw;
  min-width: 200px;
  display: flex;
  flex-direction: row;
  transition: right 200ms ease;
}

.chakra-card.info .chakra-button {
  transition: transform 200ms ease;
}

.chakra-card.info.minimized {
  right: -55.5vw;
}

.chakra-card.info.minimized .chakra-button {
  transform: rotate(180deg);
}

.chakra-card.info .icon {
  width: 24px;
  height: 24px;
  fill: var(--chakra-colors-chakra-body-text);
}

.chakra-card.info.minimized .icon {
  width: 24px;
  height: 24px;
  fill: var(--chakra-colors-chakra-body-text);
}

.chakra-card.info p {
  padding: 5px;
  margin: 0;
}

.chakra-card.info p a {
  color: dodgerblue;
}

.chakra-card.info p a:hover {
  text-decoration: none;
}
